# Example of using env variables, copy and remove the .EXAMPLE from the end to use in production
JWT_SECRET=change_this_to_a_real_secret_in_production
FRONTEND_URL=http://localhost:3000
API_ENTRYPOINT=http://localhost:5000
API_SERVER_ENTRYPOINT=http://nodebackend:5000
RESEND_API_KEY=abbabasodbaosbdoaishd